extends base.pug

block content
  div(class='row z-depth-1', id='url-form')
    form(class='col m8 offset-m2', method='post')
      div(class='row')
        div(class='input-field')
          input(placeholder='Webpage URL', id='site_url', name='site_url', required)
      div(class='row')
        button(class='btn', type='submit') Process
          i(class='material-icons right') send
  div(class='progress', id='file-processing')
    div(class='indeterminate')
  table(id='file-list') 
    tbody
